h1{
    font-size: 38px;
}

.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width-one{
    width: 50%;
    padding-left: 5%;
}
.half-width-two{
    width: 50%;
    padding-left: 5%;
    padding-bottom: 80%;
}
.half-width img{
    width: 20%;
    padding-right: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 68, 68), rgb(214, 126, 126));
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
#border-one{
    border-left: 15px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 50;
    padding-right: 1%;
    width: 50%;
  
}
