h1{
    font-size: 38px;
}

.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-right: 150%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 68, 68), rgb(214, 126, 126));
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
#border-one{
    border-left: 15px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 30%;
    padding-right: 1%;
    width: 50%;
  
}
.mission-item{
    width: 40%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.mission-area-one{
    background-color: hotpink;
    background-repeat: no-repeat;
}
.mission-area-two{
    background-color: gray;
    background-repeat: no-repeat;
}
.mission-area-three{
    background-color: gainsboro;
    background-repeat: no-repeat;
}
.coding-flexible-container{
    display: flex;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
}
.footer-color{
    color: crimson;
}
.foot{
    text-align: center;
} 

